{% extends 'base.html' %}

{% block content %}
    <style>
        .company_about_block {
            position: relative;
            display: inline-block;
        }

        .company_about_bg_image img {
            height: 270px;
            object-fit: cover;
        }

        .company_about_overlay_title {
            position: absolute;
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            color: #fff; 
            padding: 10px 20px; 
            font-size: 20px; 
            text-align: center;
        }

        .company_about_overlay_title img {
            filter: invert(1);
        }

        .company_about_text {
            padding: 3% 3% 3% 3%;
            background-color: rgba(230, 230, 230, 255);
        }
        
        .company_name {
            font-weight: 700;
            padding-bottom: 3%;
            text-align: center;
        }
    </style>
    <!-- <span class="badge badge-primary">Сертифицированный специалист</span> -->
    <div class="company_about_block">
        <div class="company_about_bg_image">
            <img src="static/imgs/bg_tech.jpg" alt="image" style="width:100%;">
        </div>
        <div class="company_about_overlay_title">
            <img src="static/imgs/logo.png" height="64" align="center" style="padding: 0px 0px 10px 0px;"/>
            <h1 id="company_name">
                <p>{% block title %} NOYtech {% endblock %}</p>
            </h1>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 company_name">
                О компании
            </h1>
            <p class="lead">
                {% for line in text %}
                    <p>{{line}}</p>
                {% endfor %}
            </p>
        </div>
    </div>
   
    
{% endblock %}

