{% extends 'base.html' %}

{% block content %}

    <!-- IMAGE -->
    <div class="company_about_block">
        <div class="company_about_bg_image">
            <img src="static/imgs/bg_tech.jpg" alt="image" style="width:100%;">
        </div>
        <div class="company_about_overlay_title">
            <img src="static/imgs/logo.png"/>
            <h1 class="company_name">NOYtech</h1>
        </div>
    </div>

    <div class="card-body text-center">
        <form method="post" name="add_file" enctype = "multipart/form-data">
            <!-- upload file -->
            <div class="card-body row">
                <div class="col col-lg-3">
                    <label class="input-group-text" for="upload">Загрузить Excel</label>
                </div>
                <div class="col">
                    <input type="file" name="file" accept=".xlsx" class="form-control" id="upload" required>
                </div>  
            </div>

            <!-- button -->
            <div class="form-group card-body">
                <button type="submit" class="btn btn-primary" value="upload">Загрузить</button>
            </div>
        </form>
    </div>

{% endblock %}

