{% extends 'base.html' %}

{% block content %}

    <!-- IMAGE -->
    <div class="company_about_block">
        <div class="company_about_bg_image">
            <img src="{{ url_for('static', filename='imgs/bg_tech.jpg') }}" alt="image">
        </div>
        <div class="company_about_overlay_title">
            <img src="{{ url_for('static', filename='imgs/logo.png') }}"/>
            <h1 class="company_name">NOYtech</h1>
        </div>
    </div>

    <!-- search card -->
    <div class="card-body">
        <form method="post"">
            <div class="card border-primary mb-3">
                <div class="card-body text-primary">

                    <!-- nav bar -->
                    <nav class="navbar bg-body-tertiary">
                        <div class="container-fluid">
                            <a class="navbar-brand">Товары</a>
                            <div class="d-flex card-body">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Поиск</button>
                            </div>
                            <a href="{{ url_for('admin_item_add_one') }}" class="btn btn-primary" type="submit" name="button" value="item_add">Добавить товар</a>
                        </div>

                        <!-- sort by -->
                        <div class="container-fluid">

                            <!-- category -->
                            <div class="col">
                                <select class="form-select" name="select_category" id="floatingSelect">
                                    <option value="">Сортировка по категории</option>
                                    {% for value in data['select_category'] %}
                                        {% if data['sort_by']['select_category'] == value %}
                                            <option value="{{ value }}" selected>{{ value }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ value }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select> 
                            </div>

                            <!-- group -->
                            <div class="col">
                                <select class="form-select" name="select_group" id="floatingSelect">
                                    <option value="">Сортировка по группам</option>
                                    {% for value in data['select_group'] %}
                                        {% if data['sort_by']['select_group'] == value %}
                                            <option value="{{ value }}" selected>{{ value }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ value }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <!-- brand -->
                            <div class="col">
                                <select class="form-select" name="select_brand" id="floatingSelect">
                                    <option value="">Сортировка по брендам</option>
                                    {% for value in data['select_brand'] %}
                                        {% if data['sort_by']['select_brand'] == value %}
                                            <option value="{{ value }}" selected>{{ value }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ value }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <!-- price order ascending/descensing -->
                            <div class="col">
                                <select class="form-select" name="select_price" id="floatingSelect">
                                    <option value="">Сортировка цены</option>
                                    {% for value in ['С начала дешевле', 'С налала дороже'] %}
                                        {% if data['sort_by']['select_price'] == value %}
                                            <option value="{{ value }}" selected>{{ value }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ value }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div> 

                        </div>
                    </nav>

                </div>
            </div>
        </form>
    </div>
    

    <!-- items list -->
    <div class="card text-center">
        <div class="container-fluid">
            <!-- cards -->
            {% for page_items in page_info['items'] %}
                <div class="row card-body">
                    <div class="card-group">
                        {% for item in page_items %}
                            <div class="col card-group">
                                <div class="card">
                                    <img src="{{ item['pic1'] }}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item['title'] }}</h5>
                                        <h5 style="font-weight: bolder;">{{ '{:>,}'.format(item['price']) }} ₸</h5>
                                    </div>
                                    <div class="card-footer">
                                        <form method="post">
                                            <a href="{{ url_for('item_view', id=item['id']) }}" class="btn btn-primary">Посмотреть</a>
                                            <a href="{{ url_for('admin_item_remove', id=item['id']) }}" class="btn btn-primary" style="background-color: red;border-color: red;">Удалить</a>
                                            </form> 
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <!-- navigation button -->
        <div class="card-body">
            <nav class="nav nav-pills flex-column flex-sm-row justify-content-center">
                <!-- <button class="btn btn-primary" type="submit" name="button" value="prev">&#8249;</button> -->
                <a href="{{ url_for('admin_item_view', page_num=page_info['page_num']-1 if page_info['page_num'] else 0) }}" class="btn btn-primary">&#8249;</a>
                <label class="input-group-text form-label" style="background-color:transparent;outline:transparent;border:none;">{{ page_info['page_num'] }}</label>
                <!-- <button class="btn btn-primary" type="submit" name="button" value="next">&#8250;</button> -->
                <a href="{{ url_for('admin_item_view', page_num=page_info['page_num']+1 if page_info['page_num'] < page_info['page_num_max']-1 else page_info['page_num']) }}" class="btn btn-primary">&#8250;</a>
            </nav>
        </div>
    </div>
    
{% endblock %}

