{% extends 'base.html' %}

{% block content %}

    <!-- IMAGE -->
    <div class="company_about_block">
        <div class="company_about_bg_image">
            <img src="static/imgs/bg_tech.jpg" alt="image" style="width:100%;">
        </div>
        <div class="company_about_overlay_title">
            <img src="static/imgs/logo.png"/>
            <h1 class="company_name">NOYtech</h1>
        </div>
    </div>

    <div class="text-center">
        <p>load excel</p>
    </div>

{% endblock %}

