{% extends 'base.html' %}

{% block content %}
    <!-- IMAGE -->
    <div class="company_about_block">
        <div class="company_about_bg_image">
            <img src="{{ url_for('static', filename='imgs/bg_tech.jpg') }}" alt="image" style="width:100%;">
        </div>
        <div class="company_about_overlay_title">
            <img src="{{ url_for('static', filename='imgs/logo.png') }}"/>
            <h1 class="company_name">NOYtech</h1>
        </div>
    </div>

    <div class="card-body">

        <div class="card mb-3">

            <!-- Slideshow container -->
            <div class="slideshow-container">
                <!-- Full-width images with number and caption text -->
                <div class="mySlides">
                    <img src="{{ item['pic1'] }}" style="width:100%">
                </div>
            
                <div class="mySlides">
                    <img src="{{ item['pic2'] if item['pic2'] else item['pic1'] }}" style="width:100%">
                </div>
            
                <div class="mySlides">
                    <img src="{{ item['pic3'] if item['pic3'] else item['pic1'] }}" style="width:100%">
                </div>
            
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            
            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
            </div>

            <!-- card body -->
            <div class="card-body">
                <!-- title and price -->
                <h3 class="card-title">{{ item['title'] }}</h5>
                <div class="card-body">
                    <h1 style="font-weight: bolder;">{{ '{:>,}'.format(item['price']) }} ₸</h5>
                </div>

                <!-- description -->
                <div class="card border-secondary mb-3">
                    <div class="card-header">Описание</div>
                    <div class="card-body text-secondary">
                        {% for line in item['description'].split('\n') %}
                            <p class="card-text">{{ line }}</p>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <p class="card-text"><small class="text-body-secondary">{{ item['category'] }}/{{ item['group'] }}/{{ item['brand'] }}</small></p>
                    </div>
                  </div>

                <!-- <p class="card-text"><small class="text-body-secondary">{{ item['category'] }}/{{ item['group'] }}/{{ item['brand'] }}</small></p> -->
            </div>
          </div>
    
    </div>   
    
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1} 
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none"; 
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block"; 
            dots[slideIndex-1].className += " active";
        }
    </script>

{% endblock %}

