@font-face {
    font-family: "GetVoIP";
    font-weight: 800;
    src: url("../fonts/getvoip-grotesque.regular.ttf");
}

.company_name {
    font-family: "GetVoIP";
    padding: 20px 0px 0px 0px;
}

.footer_block 
{
    position: absolute;
    left: 0%;
    background-color: lightgray;
}

.company_about_bg_image img {
    height: 270px;
    object-fit: cover;
}

/* overlay logo */
.company_about_overlay_title img {
    filter: invert(1);
    height: 64px;
    padding: 0px 0px 10px 0px;
}

.company_about_block {
    position: relative;
    display: inline-block;
}

.company_about_overlay_title {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
}

.company_about_text {
    padding: 3% 3% 3% 3%;
    background-color: rgba(230, 230, 230, 255);
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
} 

